<h1>Welcome to the Product List</h1>

<div ng-repeat ="product in products">
  <div class="entry">
  <div class="row">
  <div class="col-md-12"><a href="#/admin/viewWishes/{{product._id}}"><img ng-src="{{product.image}}" ng-click="getSingleProduct(product._id)"></a></div>
  </div>
  <div class="row">
  <div class="col-md-12"><h3>{{product.name}}</h3></div>
  </div>
  <div class="row">
  <div class="col-md-12"><h4>{{product.price | currency}}</h4></div>
  </div>
  <div class="row">
  <div class="col-md-12">{{product.description}} </div>
  </div>
  <div class="row">
  <div class="col-md-12">Reviews: {{product.reviews}} </div>
  </div>
  <a class="btn btn-primary addButton" href="#/admin/viewWishes/{{product._id}}/edit">Update</a>
  <button type="button" class="btn btn-danger deleteButton" ng-click="deleteProduct(product._id)" name="button">Delete</button>
</div>
