<h1>Welcome to the Product List!</h1>

<div ng-repeat ="product in products">
  <div class="entry">
  <div class="row">
  <div class="col-md-12"><img ng-src="{{product.image}}"></div>
  </div>
  <div class="row">
  <div class="col-md-12"><h3>{{product.name}}</h3></div>
  </div>
  <div class="row">
  <div class="col-md-12"><h4>{{product.price | currency}}</h4></div>
  </div>
  <div class="row">
  <div class="col-md-12">{{product.description}} </div>
  </div>
  <div class="row">
  <div class="col-md-12"><b>Quantity:</b><input type="number" ng-model="product.quantity"></div>
  </div>
  <div class="row">
  <div class="col-md-12">Reviews: {{product.reviews}} </div>
  </div>
  <button type="button" class="btn btn-default addButton" ng-click="addToCart(product)" name="button">Add to Cart</button>
  <a class="btn btn-primary addButton" href="#/shopper/viewWishes/{{product._id}}/review">Review</a>
</div>
